<a href="https://colab.research.google.com/github/satishchaudhary382/satish/blob/master/Portfolio%20Optmization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

In [0]:
stocks_tickers = xl.sheet_names
xl =pd.ExcelFile('/content/STOCK.xlsx')

data = {}
for sheet in xl.sheet_names:
  data[f'{sheet}'] =pd.read_excel(xl, sheet_name=sheet, parse_date = ['Date'])

df = pd.DataFrame()
df['Date'] = pd.date_range("2019-01-01", "2020-3-22")

temp_df= pd.DataFrame()
for stock, value in data.items():
  temp_df['Date'] = value['Date']
  temp_df['Close'] = value['Close']
  df = pd.merge(df, temp_df,on = 'Date', how = 'outer')

df.set_index("Date", inplace = True)
new_df = df.rename(columns = dict(zip(df.columns,xl.sheet_names)))

In [0]:
full_df = new_df.fillna(method='bfill')

In [147]:
full_df.corr()>0.60

        NIB    CBL    NIB    CBL    NIB    CBL   ADBL
NIB    True  False  False   True  False  False  False
CBL   False   True   True  False  False  False   True
NIB   False   True   True  False  False  False  False
CBL    True  False  False   True   True   True  False
NIB   False  False  False   True   True   True  False
CBL   False  False  False   True   True   True  False
ADBL  False   True  False  False  False  False   True